@charset "UTF-8";

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
/* #map {
	height: 500px;
	width: 45%%;
} */

/* 
 * Optional: Makes the sample page fill the window. 
 */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%
}

#floating-panel {
	background-color: #fff;
	border: 1px solid #999;
	text-align: center;
	font-family: "Roboto", "sans-serif";
	line-height: 30px;
}

#floating-panel {
	width: 100%;
	background-color: #fff;
	border: 1px solid #999;
}


#map {
	width: 500px;
	height: 500px;
	margin: auto 0;
}

main {
display: flex;
justify-content: space-around;
margin: auto 0;

}

select {
    text-align: center;
    width: 120px;
	height: 40px;
}

#selectBox {
	margin-bottom: 3%;
	text-align: center;
}

#select{
 margin: auto 0; 
}

#pageTitle {
	text-align: center;
	margin: 30px 0 30px 0;
}

