@charset "UTF-8";

#title{
	
	/* text-align:center; */ 
	margin-left: 43.5%;
	margin-top: 3%;
	display: inline-block;
	width: 20.5%;

	
}

#count {
	
	text-align: center; 
    margin-left: 13.5%;
    color: darkgray;
}


 #b{
	
	margin-left: 6%; 
	margin-top: 0.1%;
	display: inline block; 
    font-size: 16px;
    width: 4.0%;
    font-size: 14.5%;
	/* display: flex; */
} 

#nav{
	
	/* float: left; */
	
}


.sign {
	
	margin-left: 5.99%;
	font-size: 25.5%;
	text-decoration-line: none;
	
	
}


#paging {
	
	margin-left: 35.3%;
	color: black;
	text-decoration-line: none;	
}

#paging:hover{
	
	font-weight : 50;
	color: red;
}

/* a:link {
	
	color : gray;
} */